<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='predictstyle.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <title> Druma </title>
</head>
<body>
  <header class="showcase">
    <p>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
          <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
                alert(messages[i]);
            }
          </script>
          {% endif %}
      {% endwith %}
    </p>
    <div class="link">
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('predict') }}">Predict</a></li>
        <li><a href="{{ url_for('faq') }}">FAQ</a></li>
        <img src="{{ url_for('static', filename='logodruma.png') }}" class="cobalogo" alt="Druma">
      </ul>
    </div>
  </header>
  <div class="upload">
    <form method="post" action="" enctype="multipart/form-data">
    <div class="drag-area">
      <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
      <header>Click Here to Choose File</header>
      <button type="button">Browse File</button>
    </div>

      <input class="input_file" type="file" name="files" hidden required>
      <script src="{{ url_for('static', filename='druma.js') }}"> </script> 
      <dl>
          <p>
              <input type="text" name="patch_size" placeholder="Patch Size (ex: 800)" class="input_form" required>
              <input type="text" name="spatial_resolution" placeholder="Spatial Resolution (ex: 0.3)" class="input_form" required>
          </p>
      </dl>
      <p>
          <input type="submit" value="Upload" class="button" onclick="upload()">
      </p>
    </form>
    <div id="loading"><img src="{{ url_for('static', filename='loading.gif') }}" alt="" /></div>
    {% if filename %}
    <table>
      <tr>
          <th>Color</th>
          <td><b>Red</td></b>
          <td><b>Yellow</td></b>
          <td><b>Green</td></b>
        </tr>
        <tr>
          <th>Amount</th>
          <td>{{ box_count[0] }}</td>
          <td> {{ box_count[1] }}</td>
          <td> {{ box_count[2] }}</td>
        </tr>
    </table>
	<br>
	<br>
	<br>
        {% if '.tif' in filename %}
        <div>
          <script type="text/javascript" src="https://cdn.rawgit.com/seikichi/tiff.js/f03d7965/tiff.min.js"></script>
          <script>
              var xhr = new XMLHttpRequest();
              xhr.responseType = 'arraybuffer';
              xhr.open('GET', "{{ url_for('static', filename=img_path) }}");
              xhr.onload = function (e) {
                                  Tiff.initialize({
                                      TOTAL_MEMORY: 500000000
                                  });
                                  var tiff = new Tiff({buffer: xhr.response});
                                  var canvas = tiff.toCanvas();
                                  document.getElementById("tif_canvas").appendChild(canvas);
                              };
              xhr.send(null);
          </script>
          <div id="tif_canvas"></div>
        </div>
        {% else -%}
        <div>
          <img src="{{ url_for('static', filename=img_path) }}">
        </div>
        {% endif%}
    {% endif %}
  </div>
  <footer class="center bg-dark">
    <p>Druma &copy; 2021</p>
  </footer>
</body>
</html>
